@font-face {
  font-family: 'Avenir', sans-serif;
  src: url("../fonts/AvenirLTStd-Roman.otf");
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background: #F8F7FB;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}

.loginContainer {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

.loginContainer .logo {
  position: absolute;
}

.loginContainer .logo img {
  margin: 20px;
}

.loginContainer .gra1, .loginContainer .gra2, .loginContainer .gra3 {
  position: absolute;
  width: 8%;
}

.loginContainer .gra1 {
  right: 0;
}

.loginContainer .gra2 {
  bottom: 0;
}

.loginContainer .gra3 {
  right: 0;
  bottom: 0;
}

.loginContainer .loginForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24% 0 22%;
}

.loginContainer .loginForm h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #323E49;
}

.loginContainer .loginForm .form-group {
  margin-bottom: 16px;
}

.loginContainer .loginForm .form-group label {
  color: #688097;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.loginContainer .loginForm .form-group .inputBox .form-control {
  border: none;
  border-bottom: 1px solid #688097;
  border-radius: 0;
  font-size: 16px;
  padding: 10px 6px;
  color: #323E49;
  font-weight: 400;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: none;
}

.loginContainer .loginForm .form-group .inputBox .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.loginContainer .loginForm .form-group .inputBox .form-control::-webkit-input-placeholder {
  color: #bbbfc4;
}

.loginContainer .loginForm .form-group .inputBox .form-control:-ms-input-placeholder {
  color: #bbbfc4;
}

.loginContainer .loginForm .form-group .inputBox .form-control::-ms-input-placeholder {
  color: #bbbfc4;
}

.loginContainer .loginForm .form-group .inputBox .form-control::placeholder {
  color: #bbbfc4;
}

.loginContainer .loginForm .form-group .inputBox .borderAni {
  width: 0;
  height: 1.8px;
  background: #006FCF;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  display: block;
  margin-top: -1px;
}

.loginContainer .loginForm .form-group .inputBox .form-control:focus ~ .borderAni {
  width: 100%;
}

.loginContainer .loginForm .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 16px;
}

.loginContainer .loginForm .btn_container button {
  width: 40%;
  padding: 9px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 111, 207, 0.4);
          box-shadow: 0 4px 4px rgba(0, 111, 207, 0.4);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: #006FCF;
  border: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-width: 140px;
}

.loginContainer .loginForm .btn_container .btn-primary:not(:disabled):not(.disabled).active:focus, .loginContainer .loginForm .btn_container .btn-primary:not(:disabled):not(.disabled):active:focus, .loginContainer .loginForm .btn_container .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.loginContainer .loginForm .btn_container .link_btn {
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-left: 30px;
}

.loginContainer .img {
  background-image: url("../images/spredingSvg.png");
  background-position: 34% center;
  background-repeat: no-repeat;
  background-size: 66%;
}

.navigation {
  width: 225px;
  background-color: #006FCF;
  padding: 20px;
  padding-right: 0;
  height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navigation .logoImg {
  width: 96px;
  margin: 0 auto;
  display: block;
  margin-bottom: 80px;
  margin-top: 16px;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation ul a {
  text-decoration: none;
}

.navigation ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px;
  position: relative;
  cursor: pointer;
  height: 40px;
}

.navigation ul li a svg {
  fill: #FFFFFF;
  margin-right: 12px;
  width: 16px;
}

.navigation ul li a span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation ul li a .template {
  stroke-width: 3px;
  stroke: #FFFFFF;
  width: 23px;
}

.navigation ul li a .topBorder, .navigation ul li a .bottomBorder {
  display: none;
}

.navigation ul li.active a {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #F8F7FB;
}

.navigation ul li.active a svg {
  fill: #006FCF;
  stroke: #006FCF;
  stroke-width: 0.8px;
}

.navigation ul li.active a span {
  color: #006FCF;
  font-weight: 600;
}

.navigation ul li.active a .topBorder {
  display: block;
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/borderRadius.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation ul li.active a .bottomBorder {
  display: block;
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/borderRadius.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.navigation ul li:first-child.active .topBorder::before {
  top: 0px;
}

.navigation ul li:last-child.active .topBorder::before {
  top: 0px;
}

.navigation .logout {
  padding-left: 24px;
  margin-bottom: 16px;
  text-decoration: none;
}

.navigation .logout svg {
  fill: #FFFFFF;
  margin-right: 12px;
  width: 16px;
}

.navigation .logout span {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation.navSmall {
  width: 64px;
  padding: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.navigation.navSmall ul li a {
  padding: 15px 10px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 auto;
  width: calc(100% + 16px);
}

.navigation.navSmall ul li a span {
  display: none;
}

.navigation.navSmall ul li a svg {
  margin: 0;
}

.navigation.navSmall ul li.active a .topBorder, .navigation.navSmall ul li.active a .bottomBorder {
  display: none;
}

.navigation.navSmall .logout {
  text-align: center;
}

.navigation.navSmall .logout svg {
  margin: 0;
}

.navigation.navSmall .logout span {
  display: none;
}

.main {
  width: calc(100% - 225px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main.mainSmall {
  width: calc(100% - 64px);
}

.topBar {
  padding: 12px 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: relative;
}

.topBar .menuIcon {
  width: 28px;
  margin-left: -10px;
  margin-top: -20px;
  fill: #323E49;
  cursor: pointer;
}

.topBar .userBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0 4px 20px;
  cursor: pointer;
}

.topBar .userBox .userImg {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #FF2C9C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
}

.topBar .userBox span {
  font-weight: 500;
  font-size: 13px;
}

.topBar .userBox svg {
  width: 13px;
  stroke: #C7C7CE;
  margin-left: 8px;
}

.topBar .userBox .notification {
  width: 32px;
  height: 32px;
  background: #006FCF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 18px;
  margin-top: 2px;
  cursor: pointer;
}

.topBar .userBox .notification svg {
  fill: #fff;
  width: 16px !important;
  stroke: #fff !important;
  stroke-width: 0.6px;
  margin: 0;
}

.topBar .userBox .notification .number {
  position: absolute;
  background: #FF5F5F;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -1px;
  right: -2px;
}

.topBar .userBox .notification .notificationBox {
  position: absolute;
  top: 40px;
  background: #FFFFFF;
  width: 260px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px rgba(204, 204, 204, 0.55);
          box-shadow: 0 4px 8px rgba(204, 204, 204, 0.55);
  cursor: default;
}

.topBar .userBox .notification .notificationBox::before {
  content: '';
  position: absolute;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.topBar .userBox .notification .notificationBox .text {
  padding: 14px;
  max-height: 240px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.topBar .userBox .notification .notificationBox .text p {
  margin-bottom: 10px;
  line-height: 16px;
  font-size: 12px;
}

.topBar .userBox .notification .notificationBox .text p span {
  color: #006FCF;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
}

.topBar .userBox .notification .notificationBox .more {
  padding: 6px 0 5px;
  text-align: center;
  background: #d6ecfe;
  font-size: 14px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #006FCF;
  cursor: pointer;
}

.scrollContainer {
  padding: 26px 26px 0;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.statusContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 22px;
          column-gap: 22px;
}

.statusContainer .status {
  border-radius: 10px;
  padding: 14px 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36px auto;
      grid-template-columns: 36px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statusContainer .status svg {
  fill: #fff;
  width: 32px;
  margin: 0 auto;
}

.statusContainer .status h4 {
  margin: 0;
  color: #FFFFFF;
  margin-left: 16px;
  font-size: 34px;
  font-weight: 500;
  line-height: 36px;
}

.statusContainer .status h4 span {
  display: block;
  font-family: 'Avenir', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.8;
  letter-spacing: 1px;
  line-height: 16px;
}

.statusContainer .one {
  background: -webkit-gradient(linear, left top, right top, from(#FF9DBC), to(#FF6D91));
  background: linear-gradient(90deg, #FF9DBC 0%, #FF6D91 100%);
}

.statusContainer .two {
  background: -webkit-gradient(linear, left top, right top, from(#D2A6FF), to(#B57DFF));
  background: linear-gradient(90deg, #D2A6FF 0%, #B57DFF 100%);
}

.statusContainer .two svg {
  width: 24px;
}

.statusContainer .three {
  background: -webkit-gradient(linear, left top, right top, from(#7FDCB7), to(#56C593));
  background: linear-gradient(90deg, #7FDCB7 0%, #56C593 100%);
}

.statusContainer .three svg {
  width: 30px;
}

.statusContainer .four {
  background: -webkit-gradient(linear, left top, right top, from(#E4DD64), to(#E4CA4B));
  background: linear-gradient(90deg, #E4DD64 0%, #E4CA4B 100%);
}

.statusContainer .four svg {
  width: 20px;
}

.createTemplate {
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 9px 12px;
  line-height: 14px;
  font-size: 12px;
  margin: 0 0 0 auto;
  display: inline-block;
  margin-left: 16px;
}

.createTemplate:hover {
  color: #fff;
  text-decoration: none;
}

.dataTables_wrapper {
  margin: 16px 0;
}

.dataTables_wrapper .dataTables_scroll {
  margin-bottom: 16px;
}

.dataTables_wrapper label {
  margin-bottom: 16px;
  color: #323E49;
  font-size: 12px;
}

.dataTables_wrapper .form-control {
  height: auto;
  padding: 4px 8px;
  max-width: 160px;
}

.dataTables_wrapper .form-control:focus {
  border-color: #006FCF;
  outline: 0;
  border-width: 1.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dataTables_wrapper .filter_select {
  padding: 4px 8px 2px;
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.dataTables_wrapper .custom-select {
  border-radius: 4px;
  height: 100%;
  width: auto;
  padding: 5px 21px 5px 8px;
  font-size: 12px;
}

.dataTables_wrapper .dataTables_info {
  font-size: 12px;
  color: #323E49;
}

.dataTables_wrapper .pagination li:not(:last-child) {
  margin-right: 8px;
}

.dataTables_wrapper .pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6px;
  height: 28px;
  font-size: 12px;
  border-radius: 4px;
  background: #d6ecfe;
  color: #323E49;
  font-weight: 600;
  min-width: 30px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dataTables_wrapper .pagination .page-item.disabled .page-link {
  color: #323E49;
  pointer-events: none;
  cursor: auto;
  background-color: #d6ecfe;
  border: none;
  opacity: 0.2;
  cursor: not-allowed;
}

.dataTables_wrapper .pagination .page-item.active .page-link {
  z-index: 1;
  color: #FFFFFF;
  background-color: #FF2C9C;
  border: none;
}

.dataTables_wrapper .pagination .previous a, .dataTables_wrapper .pagination .next a {
  font-weight: 500;
}

.dataTables_wrapper .pagination .previous a img, .dataTables_wrapper .pagination .next a img {
  width: 12px;
}

.dataTables_wrapper .dataTables_scrollHeadInner {
  width: 100% !important;
}

.dataTables_wrapper table.dataTable {
  margin-top: 0 !important;
  background: #FFFFFF;
  width: 100% !important;
}

.dataTables_wrapper table.dataTable .noSort::after, .dataTables_wrapper table.dataTable .noSort::before {
  display: none !important;
}

.dataTables_wrapper table.dataTable .noSort {
  pointer-events: none !important;
  cursor: default !important;
  padding-right: 8px;
}

.dataTables_wrapper table.dataTable th {
  font-weight: 600;
  color: #323E49;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  border: none !important;
  padding: 8px;
}

.dataTables_wrapper table.dataTable td {
  border-top: 1px solid #F8F7FB !important;
  color: #688097;
  font-weight: 400;
  text-align: left;
  font-size: 12px;
  padding: 6px;
  vertical-align: middle;
  word-break: break-all;
}

.dataTables_wrapper table.dataTable td a {
  color: #006FCF;
  font-weight: 500;
  text-decoration: none;
  word-break: break-all;
}

.dataTables_wrapper table.dataTable td svg {
  width: 20px;
  fill: #006FCF;
  stroke: #006FCF;
  stroke-width: 0.5px;
}

.dataTables_wrapper table.dataTable td button {
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 8px 10px;
  line-height: 12px;
  font-size: 12px;
  margin: -4px 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buttonsContainer .uploadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.buttonsContainer .uploadContainer .uploadBox label {
  color: #323E49;
  margin-bottom: 8px;
  font-size: 14px;
}

.buttonsContainer .uploadContainer .uploadBox .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 0 0 2px #ddd;
          box-shadow: 0 0 2px #ddd;
  overflow: hidden;
}

.buttonsContainer .uploadContainer .uploadBox .upload span {
  padding: 7px 12px;
  width: 78%;
  color: #323E49;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.buttonsContainer .uploadContainer .uploadBox .upload button {
  width: 22%;
  padding: 10px;
  background: #FF2C9C;
  border: none;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buttonsContainer .uploadContainer .uploadBox .upload input {
  position: absolute;
  right: 0;
  height: 100%;
  opacity: 0;
  width: 22%;
}

.buttonsContainer .updateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttonsContainer .customButton {
  background: #006FCF;
  border: none;
  color: #FFFFFF !important;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 12px;
  font-size: 12px;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buttonsContainer .display-none {
  display: none;
}

#data_file {
  margin: 20px -15px 30px;
}

#data_file .form-signin {
  height: 600px;
  background: #FFFFFF;
  padding: 8px 16px;
  overflow-y: auto;
}

#data_file .form-signin p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #323E49;
}

#data_file .form-signin #pdf_viewer {
  width: 100%;
  height: 530px;
}

#data_file .form-fields {
  padding: 16px;
}

#data_file .form-fields .formBox .heading {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#data_file .form-fields .formBox .heading span:nth-child(2) {
  line-height: 16px;
  margin-bottom: -4px;
}

#data_file .form-fields .formBox .heading span:nth-child(1) {
  margin-right: 12px;
  cursor: pointer;
}

#data_file .form-fields .formBox .heading span:nth-child(1) svg {
  width: 16px;
  fill: #006FCF;
}

#data_file .form-fields .formBox .heading span:nth-child(1) svg:nth-child(1) {
  display: none;
}

#data_file .form-fields .formBox .heading.minus span:nth-child(1) svg:nth-child(2) {
  display: none;
}

#data_file .form-fields .formBox .heading.minus span:nth-child(1) svg:nth-child(1) {
  display: inline-block;
}

#data_file .form-fields .formBox .heading.minus + .section {
  display: none;
}

#data_file .form-fields .formBox .section {
  padding-left: 30px;
}

#data_file .form-fields .formBox .mt0 {
  margin-top: 0;
}

#data_file .form-fields .formBox .form-group {
  margin-bottom: 8px;
}

#data_file .form-fields .formBox .form-group:last-child {
  margin-bottom: 0;
}

#data_file .form-fields .formBox label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  color: #567089;
}

#data_file .form-fields .formBox input, #data_file .form-fields .formBox textarea, #data_file .form-fields .formBox select {
  padding: 4px 8px 2px;
  border-radius: 4px;
  resize: none;
  font-size: 12px;
}

#data_file .form-fields .formBox input:focus, #data_file .form-fields .formBox textarea:focus, #data_file .form-fields .formBox select:focus {
  border-color: #006FCF;
  outline: 0;
  border-width: 1.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#data_file .form-fields .formBox input::-webkit-input-placeholder, #data_file .form-fields .formBox textarea::-webkit-input-placeholder, #data_file .form-fields .formBox select::-webkit-input-placeholder {
  color: #bbbfc4;
}

#data_file .form-fields .formBox input:-ms-input-placeholder, #data_file .form-fields .formBox textarea:-ms-input-placeholder, #data_file .form-fields .formBox select:-ms-input-placeholder {
  color: #bbbfc4;
}

#data_file .form-fields .formBox input::-ms-input-placeholder, #data_file .form-fields .formBox textarea::-ms-input-placeholder, #data_file .form-fields .formBox select::-ms-input-placeholder {
  color: #bbbfc4;
}

#data_file .form-fields .formBox input::placeholder, #data_file .form-fields .formBox textarea::placeholder, #data_file .form-fields .formBox select::placeholder {
  color: #bbbfc4;
}

#data_file .form-fields button {
  margin: 15px 15px 10px auto;
  display: block;
  background: #006FCF;
  border: none;
  color: #FFFFFF !important;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 14px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#data_file .template-form {
  padding: 0;
  overflow: hidden;
  padding: 8px 16px 0;
  border-bottom: 20px solid #fff;
}

#data_file .template-form .formBox .form-group {
  margin-bottom: 8px;
}

#data_file .template-form .formBox .form-group:last-child {
  margin-bottom: 0;
}

#data_file .template-form .formBox label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
}

#data_file .template-form .formBox input, #data_file .template-form .formBox textarea, #data_file .template-form .formBox select {
  padding: 6px 8px;
  border-radius: 4px;
  resize: none;
}

#data_file .template-form .formBox input:focus, #data_file .template-form .formBox textarea:focus, #data_file .template-form .formBox select:focus {
  border-color: #006FCF;
  outline: 0;
  border-width: 1.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#data_file .template-form .formBox input::-webkit-input-placeholder, #data_file .template-form .formBox textarea::-webkit-input-placeholder, #data_file .template-form .formBox select::-webkit-input-placeholder {
  color: #bbbfc4;
}

#data_file .template-form .formBox input:-ms-input-placeholder, #data_file .template-form .formBox textarea:-ms-input-placeholder, #data_file .template-form .formBox select:-ms-input-placeholder {
  color: #bbbfc4;
}

#data_file .template-form .formBox input::-ms-input-placeholder, #data_file .template-form .formBox textarea::-ms-input-placeholder, #data_file .template-form .formBox select::-ms-input-placeholder {
  color: #bbbfc4;
}

#data_file .template-form .formBox input::placeholder, #data_file .template-form .formBox textarea::placeholder, #data_file .template-form .formBox select::placeholder {
  color: #bbbfc4;
}

#data_file .template-form button {
  margin: 15px 15px 10px auto;
  display: block;
  background: #006FCF;
  border: none;
  color: #FFFFFF !important;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 12px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.spread .uploadBox label {
  color: #323E49;
  margin-bottom: 8px;
}

.spread .uploadBox .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 0 0 2px #ddd;
          box-shadow: 0 0 2px #ddd;
}

.spread .uploadBox .upload span {
  padding: 7px 12px;
  width: 74%;
  color: #323E49;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spread .uploadBox .upload button {
  width: 26%;
  padding: 12px;
  background: #FF2C9C;
  border: none;
  color: #FFFFFF;
  line-height: 14px;
  font-size: 14px;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.spread .uploadBox .upload input {
  position: absolute;
  right: 0;
  height: 100%;
  opacity: 0;
  width: 26%;
}

.spread .form-group {
  margin-bottom: 10px;
}

.spread label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
}

.spread input, .spread textarea, .spread select {
  padding: 6px 10px;
  border-radius: 4px;
  resize: none;
}

.spread input:focus, .spread textarea:focus, .spread select:focus {
  border-color: #006FCF;
  outline: 0;
  border-width: 1.5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.spread input::-webkit-input-placeholder, .spread textarea::-webkit-input-placeholder, .spread select::-webkit-input-placeholder {
  color: #bbbfc4;
}

.spread input:-ms-input-placeholder, .spread textarea:-ms-input-placeholder, .spread select:-ms-input-placeholder {
  color: #bbbfc4;
}

.spread input::-ms-input-placeholder, .spread textarea::-ms-input-placeholder, .spread select::-ms-input-placeholder {
  color: #bbbfc4;
}

.spread input::placeholder, .spread textarea::placeholder, .spread select::placeholder {
  color: #bbbfc4;
}

.spread button {
  display: block;
  background: #006FCF;
  border: none;
  color: #FFFFFF !important;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 12px;
  font-size: 12px;
  cursor: pointer;
  margin: 20px auto;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.spread {
  padding: 30px 10%;
}

.spread .stepProgress {
  width: 70%;
  margin: 26px auto 0;
}

.spread .stepProgress .stepSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.spread .stepProgress .stepSection::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 167, 21, 0.5);
  left: 16px;
  top: 0;
  z-index: 0;
}

.spread .stepProgress .stepSection::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 0;
  background-color: #00a715;
  left: 16px;
  top: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 0;
}

.spread .stepProgress .stepSection .isComplete {
  width: 13px;
  height: 14px;
  position: absolute;
  left: 11px;
  bottom: -13px;
  background: rgba(0, 167, 21, 0.5);
  border-radius: 50%;
  z-index: 9;
}

.spread .stepProgress .stepSection .isComplete + .content {
  margin-top: 16px;
}

.spread .stepProgress .stepSection .progressBox {
  width: 36px;
  height: 36px;
  border: 2px solid rgba(0, 167, 21, 0.5);
  border-radius: 50%;
  margin-right: 26px;
  position: relative;
  background: #fff;
  z-index: 99;
}

.spread .stepProgress .stepSection .progressBox .loader {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 6px;
  display: inline-block;
  padding: 0px;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: #FF2C9C;
  border-bottom-color: transparent;
  border-left-color: #FF2C9C;
  border-right-color: transparent;
  -webkit-animation: loader 1s ease-in-out infinite;
          animation: loader 1s ease-in-out infinite;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spread .stepProgress .stepSection .progressBox svg {
  width: 26px;
  display: block;
  position: absolute;
  top: 4px;
  left: 3px;
}

.spread .stepProgress .stepSection .progressBox .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.spread .stepProgress .stepSection .progressBox .path.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.spread .stepProgress .stepSection .progressBox .path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.spread .stepProgress .stepSection .progressBox .path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.spread .stepProgress .stepSection .content {
  padding-top: 6px;
  padding-bottom: 8px;
  min-width: 60%;
  max-width: 80%;
  margin-bottom: 16px;
}

.spread .stepProgress .stepSection .content .detectText {
  font-size: 14px;
  color: #323E49;
  font-weight: 500;
  margin-bottom: 10px;
}

.spread .stepProgress .stepSection .content .text {
  font-size: 12px;
  color: #688097;
  font-weight: 400;
}

.spread .stepProgress .stepSection .content .downloadBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
  margin: 12px 0;
}

.spread .stepProgress .stepSection .content .downloadBox div {
  width: calc(100% - 100px);
  margin-right: 26px;
}

.spread .stepProgress .stepSection .content .downloadBox p {
  display: block;
  margin: 0;
  color: #323E49;
  font-size: 12px;
  color: #688097;
  font-weight: 400;
  line-height: 14px;
}

.spread .stepProgress .stepSection .content .downloadBox p:not(:last-child) {
  margin-bottom: 8px;
}

.spread .stepProgress .stepSection .content .downloadBox p span:last-child {
  font-weight: 500;
  color: #505050;
  word-break: break-all;
}

.spread .stepProgress .stepSection .content .downloadBox a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #688097;
  text-decoration: none;
}

.spread .stepProgress .stepSection .content .downloadBox a span {
  font-size: 12px;
  margin-left: 8px;
}

.spread .stepProgress .stepSection .content .downloadBox a:hover {
  text-decoration: underline;
}

.spread .stepProgress .stepSection .content .downloadBox svg {
  fill: #006FCF;
  stroke: #006FCF;
  stroke-width: 0.8px;
  width: 20px;
}

.spread .stepProgress .stepSection .content .secondStep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.spread .stepProgress .stepSection .content .secondStep button {
  margin: 0;
}

.spread .stepProgress .stepSection .content .secondStep span {
  margin: 10px 0;
  color: #688097;
}

.spread .stepProgress .stepSection .content .secondStep .selectBank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.spread .stepProgress .stepSection .content .secondStep .selectBank .form-group {
  margin-bottom: 0;
  margin-right: 20px;
  width: 70%;
}

.spread .stepProgress .stepSection .content .secondStep .selectBank .form-group label {
  color: #688097;
}

.spread .stepProgress .stepSection.isProgress .progressBox {
  border: 2px solid #00a715;
}

.spread .stepProgress .stepSection.isRight::after {
  height: 100%;
}

.spread .stepProgress .stepSection.isRight .content {
  margin-bottom: 0;
}

.spread .stepProgress .stepSection.isRight .progressBox {
  border: 2px solid #00a715;
  background-color: #00a715;
}

.spread .stepProgress .stepSection.isRight .isComplete {
  background-color: #00a715;
}

.spread .stepProgress .stepSection.isWrong::after {
  height: 100%;
  background-color: #ff3535;
}

.spread .stepProgress .stepSection.isWrong .progressBox {
  border: 2px solid #ff3535;
  background-color: #ff3535;
}

.spread .stepProgress .stepSection.isWrong .content {
  margin-bottom: 0;
}

.spread .stepProgress .stepSection.isWrong .isComplete {
  background-color: #ff3535;
}

.spread .dropBox {
  width: 40%;
  height: 136px;
  border: 2px dashed #ff2c9c;
  background: rgba(255, 255, 255, 0.73);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
  padding: 8px;
}

.spread .dropBox .file-msg {
  font-size: 14px;
  font-weight: 500;
  color: #c1c1c1;
  word-break: break-all;
  overflow: hidden;
}

.spread .dropBox .file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.alertModal .modal-dialog {
  max-width: 320px;
  margin-top: 15%;
}

.alertModal .modal-dialog .modal-content {
  border-radius: 4px;
  border: none;
}

.alertModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.alertModal .modal-dialog .modal-content .modal-body p {
  font-size: 16px;
  text-align: center;
  color: #323E49;
  margin: 26px 20px;
}

.alertModal .modal-dialog .modal-content .modal-body .updateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alertModal .modal-dialog .modal-content .modal-body .updateContainer .customButton:nth-child(1) {
  width: 50%;
  padding: 8px 0 7px;
  text-align: center;
  background: #4FC36A;
  color: #fff;
  font-size: 14px;
  border-bottom-left-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

.alertModal .modal-dialog .modal-content .modal-body .updateContainer .customButton:nth-child(2) {
  width: 50%;
  padding: 8px 0 7px;
  text-align: center;
  background: #F7F6F5;
  color: #323E49;
  font-size: 14px;
  border-bottom-right-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

.errorModal .modal-dialog {
  max-width: 560px;
  margin-top: 15%;
}

.errorModal .modal-dialog .modal-content {
  border-radius: 4px;
  border: none;
  padding: 16px;
}

.errorModal .modal-dialog .modal-content .close {
  width: 15px;
  display: inline-block;
  margin-left: auto;
  opacity: 1;
  cursor: pointer;
}

.errorModal .modal-dialog .modal-content .modal-body {
  padding: 0;
}

.errorModal .modal-dialog .modal-content .modal-body .error {
  width: 50px;
  display: block;
  margin: 20px auto;
  fill: #ff1515;
}

.errorModal .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  text-align: center;
  color: #323E49;
  margin: 26px 20px;
}

.customModal .modal-dialog {
  max-width: 400px;
  margin-top: 15%;
}

.customModal .modal-dialog .modal-content {
  border-radius: 4px;
  border: none;
}

.customModal .modal-dialog .modal-content .modal-body {
  padding: 18px 22px;
}

.customModal .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  text-align: center;
  color: #323E49;
  margin: 26px 20px;
}

.customModal .modal-dialog .modal-content .modal-body .form-group {
  margin-bottom: 12px;
}

.customModal .modal-dialog .modal-content .modal-body .form-group label {
  color: #688097;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.customModal .modal-dialog .modal-content .modal-body .form-group input, .customModal .modal-dialog .modal-content .modal-body .form-group select {
  cursor: pointer;
  height: 32px;
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}

.customModal .modal-dialog .modal-content .modal-body .form-group input:focus, .customModal .modal-dialog .modal-content .modal-body .form-group select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.customModal .modal-dialog .modal-content .modal-body .form-group select {
  padding: 4px 8px;
}

.customModal .modal-dialog .modal-content .modal-body .form-group .auto {
  margin: 8px 0 20px;
  text-align: right;
  font-size: 14px;
  color: #006fcf;
  font-weight: 500;
  cursor: pointer;
}

.customModal .modal-dialog .modal-content .modal-body .updateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.customModal .modal-dialog .modal-content .modal-body .updateContainer button {
  outline: none;
}

.customModal .modal-dialog .modal-content .modal-body .updateContainer button:nth-child(1) {
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 7px 20px;
  line-height: 12px;
  font-size: 12px;
  display: inline-block;
  margin: 0;
}

.customModal .modal-dialog .modal-content .modal-body .updateContainer button:nth-child(2) {
  padding: 7px 14px 7px 16px;
  text-align: center;
  border: none;
  background: none;
  color: #323E49;
  font-size: 12px;
  border-bottom-right-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}

.customModal.changePass .modal-dialog .modal-content .modal-body .auto {
  margin: 8px 0 16px;
  text-align: right;
  font-size: 12px;
  color: #006fcf;
  font-weight: 500;
  cursor: pointer;
}

.templateModal .modal-dialog {
  max-width: 450px;
  margin-top: 15%;
}

.templateModal .modal-dialog .modal-content {
  border-radius: 4px;
  border: none;
}

.templateModal .modal-dialog .modal-content .modal-body {
  padding: 10px 20px 20px;
}

.templateModal .modal-dialog .modal-content .modal-body .close {
  margin-right: -8px;
  font-weight: 500;
  color: #333;
  margin-top: -4px;
}

.templateModal .modal-dialog .modal-content .modal-body p {
  font-size: 14px;
  text-align: left;
  color: #323E49;
  margin-top: 20px;
  margin-bottom: 20px;
}

.templateModal .modal-dialog .modal-content .modal-body .updateContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.templateModal .modal-dialog .modal-content .modal-body .updateContainer button {
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 18px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  margin-right: 20px;
}

@media (max-width: 1366px) {
  .loginContainer .loginForm {
    padding: 0 20% 0 24%;
  }
  
}

.toggleRadioContainer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggleRadioContainer > label {
  margin: 0;
  min-width: 160px;
  margin-right: 20px;
  margin-bottom: 0 !important;
}

.checkBoxes_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.checkBoxes_container .checkBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkBoxes_container label {
  margin-right: 16px;
}

.checkBoxes_container > label {
  margin: 0;
  margin-right: 16px;
  min-width: 160px;
  margin-bottom: 0 !important;
}

.toggleRadio {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.toggleRadio .radioBox {
  position: relative;
  margin: 0 !important;
}

.toggleRadio .radioBox span {
  padding: 7px 14px;
  background: #eeeeee;
  color: #000;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

.toggleRadio .radioBox:first-child span {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.toggleRadio .radioBox:last-child span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.toggleRadio .radioBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggleRadio .radioBox input:checked ~ span {
  background: #006FCF;
  color: #fff;
}

.custom_checkBox {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333 !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
}

.custom_checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom_checkBox .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1.2px solid #676767;
  border-radius: 3px;
}

.custom_checkBox input:checked ~ .checkmark {
  background-color: #006fcf;
  border-color: #006fcf;
}

.custom_checkBox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom_checkBox input:checked ~ .checkmark:after {
  display: block;
}

.custom_checkBox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1.8px 1.8px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_radio {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333 !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
}

.custom_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom_radio input:checked ~ .checkmark {
  background-color: #006fcf;
  border-color: #006fcf;
}

.custom_radio input:checked ~ .checkmark:after {
  display: block;
}

.custom_radio .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1.2px solid #676767;
  border-radius: 50%;
}

.custom_radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3.5px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.radio_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.radio_box .custom_radio:nth-child(1) {
  margin-right: 30px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 26px;
  position: relative;
}

.button_container .error_box {
  position: absolute;
  top: -54px;
  width: 370px;
  right: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px calc(100% - 40px);
      grid-template-columns: 20px calc(100% - 40px);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  border: 1.2px solid #ff1515;
  padding: 6px;
  border-radius: 4px;
  color: #ff1515;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_container .error_box svg {
  width: 20px;
  fill: #ff1515;
}

.button_container .error_box p {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
}

.button_container button {
  padding: 10px;
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 10px;
}

.button_container button:last-child {
  margin-right: 0;
}

.button_container button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button_container button.upload {
  position: relative;
}

.button_container button.upload input {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.excel_tab_box {
  position: relative;
  width: 100%;
}

.content_container {
  position: relative;
  overflow: auto;
  width: 100%;
}

.excel_table {
  margin-top: 0 !important;
  background: #FFFFFF;
  width: 100% !important;
  border: 1px solid #ddd !important;
  border-bottom: none !important;
}

.excel_table.category_table td:nth-child(2) input {
  text-align: right;
}

.excel_table.category_table td:nth-child(3) input {
  text-align: right;
}

.excel_table thead th {
  font-weight: 600;
  color: #323E49;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: left;
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  padding: 7px;
  vertical-align: middle;
}

.excel_table thead th:not(:last-child) {
  border-right: 1px solid #ddd !important;
}

.excel_table tbody tr td {
  border-top: 1px solid #F8F7FB !important;
  color: #688097;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #ddd !important;
}

.excel_table tbody td {
  vertical-align: middle;
  padding: 0px;
}

.excel_table tbody td:not(:last-child) {
  border-right: 1px solid #ddd !important;
}

.excel_table tbody td .form-control {
  max-width: 100%;
  border: none;
  font-size: 12px;
  color: #688097;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.excel_table tbody td .form-control:focus {
  border: 1.5px solid #688097;
  border-radius: 0;
  width: calc(100%);
  max-width: calc(100% + 2px);
}

.excel_table tbody td .form-control:disabled {
  background-color: #f4f4f4;
  border-radius: 0;
  cursor: not-allowed;
}

.excel_table tbody td select {
  padding: 6px 12px 6px 8px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml,%3Csvg fill="%23688097" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"%3E%3Cpath d="M225.813 48.907L128 146.72 30.187 48.907 0 79.093l128 128 128-128z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
  background-size: 10px;
}

.excel_content_box ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  row-gap: 10px;
  margin-bottom: 12px;
}

.excel_content_box li {
  margin-right: 60px;
}

.excel_content_box li span:nth-child(1) {
  color: #567089;
  margin-right: 6px;
}

.excel_content_box li span:nth-child(2) {
  color: #323E49;
  font-weight: 500;
}

.excel_tabs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ddd;
  padding-left: 16px;
  margin-bottom: 16px;
}

.excel_tabs .edit {
  padding: 7px;
  margin: 0 0 0px auto;
  display: block;
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  line-height: 14px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.excel_tabs .edit:last-child {
  margin-right: 0;
}

.excel_tabs .edit.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.excel_tabs li {
  margin-bottom: -2px;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  min-width: 200px;
}

.excel_tabs li:hover {
  color: #FF2C9C;
}

.excel_tabs li.active {
  border-color: #FF2C9C #ddd #f8f7fb;
  border-style: solid;
  border-width: 2px 1px;
  z-index: 999;
  margin-bottom: -2px;
  color: #FF2C9C;
  border-bottom: 3px solid #f8f7fb;
}

.excel_tab_box.two table th {
  min-width: 150px;
}

.excel_tab_box.two table th:nth-child(3) {
  min-width: 250px;
}

.excel_tab_box.three .credit th {
  background: #56C593;
  color: #fff;
}

.excel_tab_box.three .debit th {
  background: #FF5F5F;
  color: #fff;
}

.scrollTop {
  position: fixed;
  bottom: 26px;
  right: 26px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #006FCF;
  padding: 10px 12px;
  cursor: pointer;
  display: none;
}

.scrollTop svg {
  width: 20px;
  fill: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.browse_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

.browse_modal .backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000002b;
}

.browse_modal .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browse_modal .content .box {
  background: #fff;
  width: 440px;
  height: 200px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.browse_modal .content .box svg {
  width: 14px;
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: pointer;
}

.browse_modal .content .box .msg {
  margin: 0;
}

.browse_modal .content .box .upload_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.browse_modal .content .box .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  background: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 0 0 2px #ddd;
          box-shadow: 0 0 2px #ddd;
  margin-bottom: 20px;
}

.browse_modal .content .box .upload span {
  padding: 7px 12px;
  width: 78%;
  color: #323E49;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.browse_modal .content .box .upload button {
  width: 22%;
  padding: 10px;
  background: #FF2C9C;
  border: none;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.browse_modal .content .box .upload input {
  position: absolute;
  right: 0;
  height: 100%;
  opacity: 0;
  width: 22%;
}

.browse_modal .content .box .upload_submit {
  padding: 10px;
  background: #006FCF;
  border: none;
  color: #FFFFFF;
  line-height: 12px;
  font-size: 12px;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.browse_modal .content .box .upload_submit:last-child {
  margin-right: 0;
}

.browse_modal .content .box .upload_submit.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loader_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000060;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader_box .loader {
  display: inline-block;
  width: 2em;
  height: 2em;
  color: #fff;
  vertical-align: middle;
  pointer-events: none;
  background-color: #fff;
  -webkit-animation: mainloader 1.2s infinite ease-in-out;
          animation: mainloader 1.2s infinite ease-in-out;
}

@-webkit-keyframes mainloader {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes mainloader {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.error_status {
  color: #ff1515 !important;
  cursor: pointer;
}

.error_status:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */